body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: #3399BB;
  padding: 20px;
  font-size: 20px;
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  margin: 0 0 0.5em 0;
  font-size: 1.5em;
  font-weight: 500;
}

input[type=checkbox] { transform: scale(1.6) }

.help {
  font-size: 0.8em;
}

.player-select ul {
  list-style: none;
  margin: 5px;
  padding: 0;
}

.player-select .disabled {
  filter: grayscale(80%);
  opacity: 0.8;
}

.timer {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  font-size: 100px;
  text-align: center;
  line-height: 300px;
  color: white;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.timer .seconds {
  font-size: 150px;
}

.timer.white     { background-color: #FFFFFF; color: #333; }
.timer.silver   { background-color: #C0C0C0; }
.timer.orange    { background-color: #FFA500; }
.timer.yellow  { background-color: #FFD700; }
.timer.purple  { background-color: #8833DD; }
.timer.black   { background-color: #333333; }

.timer.next-white     { box-shadow: 150px 0 #FFFFFF; }
.timer.next-silver   { box-shadow: 150px 0 #C0C0C0; }
.timer.next-orange    { box-shadow: 150px 0 #FFA500; }
.timer.next-yellow  { box-shadow: 150px 0 #FFD700; }
.timer.next-purple  { box-shadow: 150px 0 #8833DD; }
.timer.next-black   { box-shadow: 150px 0 #333333; }

button {
  display: inline-block;
  padding: 10px 20px;
  width: 100%;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.42;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background: rgba(255,255,255,0.7);
}

.player.white     { color: #FFFFFF; }
.player.silver   { color: #C0C0C0; }
.player.orange    { color: #FFA500; }
.player.yellow  { color: #FFD700; }
.player.purple  { color: #8833DD; }
.player.black   { color: #333333; }

.player-input {
  background: none;
  border: 0;
  font-size: 1em;
  height: 20px;
  line-height: 20px;
  width: 180px;
  padding: 5px;
  margin: 5px 0;
}


.player-input.white   { color: #FFFFFF; }
.player-input.silver  { color: #C0C0C0; }
.player-input.orange  { color: #FFA500; }
.player-input.yellow  { color: #FFD700; }
.player-input.purple  { color: #8833DD; }
.player-input.black   { color: #333333; }

.player-input:focus {
  background: rgba(255,255,255,0.8);
  color: #333;
}

.color {
  margin-left: 5px;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: transparent;
}

.color.white    .meeple { fill: #FFFFFF; }
.color.silver  .meeple { fill: #C0C0C0; }
.color.orange   .meeple { fill: #FFA500; }
.color.yellow .meeple { fill: #FFD700; }
.color.purple .meeple { fill: #8833DD; }
.color.black  .meeple { fill: #333333; }


/* #FFD700 */
/* #FFA500 */
/* #C0C0C0 */
/* #FFFFFF */
/* #8833DD */
/* #AA4400 #333333 */
